<header>
    <img 
        src="assets/img/alisson.png" 
        alt="Dener Troquate - Foto Perfil"
        width="130px"
        height="130px"
        loading="eager"
        />
        <h1>Alisson Almeida</h1>
    </header>
    <aside>
        <div class="container">
            <p>Full Stack Javascript - Angular</p>
            <p>Itaim Paulista, SP</p>
            <p>
                Resolvi abraçar a stack de angular para atuar no Front e Back end
            </p>

            <nav>
                <ul>
                    <li>
                        <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                            Download CV
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com" target="_blank" class="btn btn-secondary">
                            LinkedIn
                        </a>
                    </li>
                </ul>
            </nav>
            <section>
                <figure>
                    <img src="assets/icon/whatsapp.svg" 
                        alt="Icone para contato do whatsapp"
                        width="22px"    
                        height="24px"
                    />
                    <figcaption>
                        <a href="https://api.whatsapp.com/send?phone=5511992325271&text=Ol%C3%A1%20Alisson,%20preciso%20de%20um%20job!"
                        target="_blank">
                            <strong>Envie uma mensagem para:</strong>
                            <p>whatsapp: (11) 99232-5271</p>
                        </a>
                    </figcaption>
                </figure>

                <figure>
                    <img src="assets/icon/mail.svg" 
                        alt="Icone para contato do whatsapp"
                        width="22px"
                        height="24px"
                    />
                    <figcaption>
                        <a href="mailto:alisson.a-work@outlook.com"
                        target="_blank">
                            <strong>Envie uma e-mail para:</strong>
                            <p>alisson.a-work&#64;outlook.com</p>
                        </a>
                    </figcaption>
                </figure>
            </section>
        </div>
    </aside>